button.button
{
background-repeat: no-repeat;
background-color: transparent;
width: 16px;
height: 16px;
border: 0;
margin: 1px;
text-indent: -9999px;
vertical-align: middle;
cursor: pointer;
}

button.quit
{
background-image: url(../Img/quit.png);
}

#close
{
position: absolute;
top: 0;
right: 0;
}

button.modify
{
background-image: url(../Img/modify.png);
}

button.trash
{
background-image: url(../Img/trash.png);
}
