<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false">
  <php>
    <const name="PHPUNIT_TESTSUITE" value="true"/>
  </php>

  <testsuites>
    <testsuite name="Test5-0">
      <directory>../Tests</directory>
    </testsuite>
  </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">../Php</directory>
        </whitelist>
    </filter>
  
</phpunit>